<div class="page-header">
  <h1>User Stories and Business Rules</h1>
</div>

<h4>User Stories</h4>

<ol>
  <li>As a visitor, I want to see what books are in the database.</li>
  <li>As a visitor, I want to click on a book to see its details.</li>
  <li>As a visitor, I want to read the reviews for each book.</li>
  <li>As a visitor, I want to sign up for a free account so that I can write reviews.</li>
  <li>As a visitor, I want to sign up for a free account so that I can delete books.</li>
  <li>As a user, I want to review a book.</li>
  <li>As a user, I want to modify a books's title, author, photo, summary, and/or genre.</li>
  <li>As a user, I want to delete a book.</li>
</ol>


<h4>Business Rules</h4>

<ol>
  <li>A review consists of a star rating from 1 to 5 and some text.</li>
  <li>A visitor cannot delete books.</li>
  <li>A visitor cannot write reviews.</li>
  <li>Passwords must be encrypted.</li>
</ol>
